@media screen and (min-width: 48rem) {
    #menu {
        display: none;
    }

    header {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        background-color: #1A252F;
        align-items: center;
    }

    .navigation {
        display: flex !important;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
    }

    .navigation a {
        padding: 10px 15px;
        font-size: 1.2rem;
    }

    .imagens-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
    
}